
.fa-progress-circle-wrap[data-v-780e0e30],
.fa-progress-line-wrap[data-v-780e0e30] {
  margin-right: 8px;
  margin-bottom: 5px;
}


.fa-progress-circle-wrap[data-v-5babf4fe],
.fa-progress-line-wrap[data-v-5babf4fe] {
  margin-right: 8px;
  margin-bottom: 5px;
}


div.fa-progress-circle[data-v-00899861],
div.fa-progress-line[data-v-00899861] {
  margin-right: 8px;
  margin-bottom: 8px;
}

