
.handle-container[data-v-7b09e6e8] {
  position: absolute;
  top: 200px;
  left: -32px;
  font-size: 22px;
  width: 32px;
  height: 112px;
  line-height: 112px;
  text-align: center;
  color: #fff;
  background-color: #f7f7f7;
  border-radius: 5px 0 0 5px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  transition: all .5s;
  cursor: pointer;
}

